$footerColor: rgb(247, 245, 240);

.footer {
  width: 100%;
  height: 40px;
  background-color: $footerColor;
  margin-bottom: 5%;
}

/*

@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}
*/
