$footerColor: rgb(247, 245, 240);

footer {
  background-color: $footerColor;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  padding-top: 30px;
  //display: flex;
  justify-content: center;
  align-items: center;

  .footer-wrapper {
    //margin-bottom: 30px;
  }

  p {
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: smaller;
  }

  .footer {
    display: inline;
    justify-content: center;
  }

  .logos {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }

  .logos li {
    display: inline;
    list-style: none;
    padding-left: 25px;
  }

  img {
    height: 40px;
    object-fit: contain;
  }

  .information {
    display: flex;
    justify-content: center;
    margin: 0 15%;
    padding-bottom: 30px;
    font-size: medium;

    h3 {
      font-size: medium;
    }

    .help {
      
      ul { 
        margin: 5px;
        padding: 0;
      }
  
      a {
        cursor: pointer; 
        text-decoration: none;
        color: black;
      }
    }
  }
  .support {
    p{
      justify-content: left;
    }
  }
  .socials {
    svg {
      height: 25px;
      width: auto;
      margin-right: 10px;
    }
  }
  .newsletter { 
    form > * {
      margin-top: 15px;
    }
    button {
      width: 70px;
      height: auto;
      border-radius: 0%;
      border-color: gray;
      background-color: rgb(129,77,8);
    }
    button:hover {
      background-color: rgba(176,106,11,255);
      border-color: gray;
    }
    input {
      border-radius: 0%;
      border-color: black;

    }
  }
}

/*

@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}
*/
